@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face{
    font-family: 'Bubblez';   
    src: url('./assets/font/Bubblez-Regular.ttf');
}
.logo{
    background: linear-gradient(to right, #264467 0%, #264467 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}